<section id="sponsors" class="sponsors-section">
    <h2 class="section-title">
      <span class="highlight">Our</span>Sponsors
    </h2>
  
    <div class="sponsors-container">
      <div class="sponsor">
        <img src="assets/prog-hub.png" alt="Prog Hub" />
      </div>
      <div class="sponsor">
        <img src="assets/tech-alegria-logo.webp" alt="Tech Alegria" />
      </div>
      <div class="sponsor">
        <img src="assets/csi logo 1.png" alt="CSI PCE" />
      </div>
      <div class="sponsor">
        <img src="assets/GDSC Logo Color.png" alt="GDSC PCE" />
      </div>
      <!-- Add more sponsors as needed -->
    </div>
  </section>
  