<section id="herosection" class="hero-section">
    <img src="assets/logo.png" class="logo" alt="HackCelestial Logo" />
  
    <h2 class="title">
      <span class="highlight">Hack</span>Celestial 1.0
    </h2>
  
    <p class="description">
      Welcome to HackCelestial, our software hackathon! This high-energy
      event challenges participants to create innovative solutions.
      Collaborate, code, and compete to tackle a specific problem and push
      the limits of technology and creativity.
    </p>
  
    <a href="#" target="_blank" rel="noopener noreferrer"
       class="register-button">
      Register
    </a>
  </section>
  