<footer class="footer">
    <div class="footer-container">
      <div class="footer-left">
        <img src="assets/logo.png" alt="HackCelestial Logo" class="footer-logo" />
        <p>&copy; 2024 HackCelestial. All rights reserved.</p>
      </div>
      <div class="footer-right">
        <img src="assets/tech-alegria-logo.webp" alt="Tech Alegria" class="footer-sponsor" />
        <img src="assets/csi logo 1.png" alt="CSI PCE" class="footer-sponsor" />
        <img src="assets/GDSC Logo Color.png" alt="GDSC PCE" class="footer-sponsor" />
      </div>
    </div>
  </footer>
  